html {
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: sans-serif;
}
li,
ol,
ul {
  list-style: outside none none;
}
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
  z-index: -2;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.footer {
  bottom: 0;
  width: 100%;
  background-color: lightslategray;
  height: 100px;
  display: flex;
  justify-content: center;
}

.site-nav {
  background-color: white;
  border-bottom: solid 1px lightgray;
  z-index: 3;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav__menu-wrapper {
  height: 40px;
  display: flex;
}

.nav-menu-item {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: 100%;
  margin-right: 1px;
}

.nav-menu-item .item-name {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 0.5rem;
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
  color: #000;
  z-index: 3;
  cursor: pointer;
}

.nav-menu-item:hover {
  background-color: lightpink;
}

.nav-menu-item.is-active {
  background-color: lightcoral;
}

.submenu-container {
  display: flex;
  overflow: hidden;
  position: absolute;
  top: -200%;
  left: 0;
  padding: 1rem;
  background-color: lightcoral;
  transition: all 0.5s ease-in-out;
  z-index: 1;
  opacity: 0;
}

.nav-menu-item.is-active .submenu-container {
  visibility: visible;
  height: auto;
  top: 40px;
  opacity: 1;
}

.submenu {
  display: flex;
}

.submenu-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  width: max-content;
}

.submenu-item:hover {
  background-color: cornflowerblue;
}
